{% extends 'view/layout/base.html.twig' %}

{% block title %}Admin : ajouter une catégorie{% endblock %}

{% block body %}
    <h1>Ajouter une catégorie</h1>

    {{ include('view/admin/category/_form.html.twig') }}

    <a href="{{ path('admin_category_index') }}">back to list</a>
{% endblock %}
