{% extends 'view/layout/base.html.twig' %}


{% block title %}La caverne : tous nos produits{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-7">
        {{ imgPagination.view }}
        </div>
        <div class="col-5">
            <h3>{{ product.title }}</h3>
            <p style="font-weight: bold; font-size: 3em;">{{ product.priceFormatted }}</p>
            <p>etc... </p>
        </div>
    </div>

    <div style="text-align: center;">
        <a class="btn btn-success float-right" href="{{ path('cart_add', {"id": product.id, "quant": 1}) }}">
            <i class="bi bi-cart3"></i><span class="ms-2">Ajouter au panier</span>
        </a>
    </div>

{% endblock %}